.custom-logo,
.custom-logo-link{
    display: block;
}
.header-navigation__list li + li {
    margin-left: 35px
}

.header-navigation__list li a {
    letter-spacing: -0.2px;
    color: #0A2540;
    text-decoration: none
}
.footer-navigation__list li + li {
    margin-left: 24px
}

.footer-navigation__list li a {
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: none
}
