@media (max-width: 1400px) {
  .product-info{
    padding-right: 0;
  }
  .product-popup{
    width: 80%;
    margin: 50px auto;
  }
}
@media (max-width: 1200px) {
  .product-popup__box{
    flex-direction: column;
  }
  .product-info{
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
  .product-info__box-text{
    max-width: unset;
  }
  .popup-slider{
    width: 100%;
    margin-right: 0;
  }
  .slider-for__box-item img{
    border-radius: 24px 24px 0 0;
  }
  .main__box{
    padding: 154px 0 103px;
  }
  .main__box-title{
    font-size: 75px;
    line-height: 76px;
  }
  .services__list{
    max-width: 800px;
    margin: 36px auto 0;
  }
  .services-item:nth-of-type(n + 3){
    margin-top: 24px;
  }
  .vouchers-item:nth-child(n + 4){
    margin-top: 24px;
  }
}
@media (max-width: 992px) {
  .btn.btn-order{
    padding: 8px;
    border-radius: 100%;
  }
  .btn.btn-order svg,
  .btn.btn-order span{
    display: none;
  }
  .smartphone{
    display: block;
  }
  .reviews-item__box{
    align-items: flex-start;
  }
  .reviews-item__reviewer{
    margin: 24px 0 0;
  }
  .reviews-item:nth-child(n + 2),
  .vouchers-item:nth-child(n + 3){
    margin-top: 24px;
  }
  .btn-order:hover{
    background: transparent;
    border: 1px solid #004CE0;
  }
}
@media (max-width: 768px) {
  section{
    margin-top: 96px;
  }
  .title{
    font-size: 32px;
    line-height: 48px;
  }
  .services{
    padding: 0;
  }
  .header-burger{
    display: block;
  }
  .header-navigation{
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #E7E7E7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.3s all linear;
    z-index: 99;
  }
  .header-navigation.open{
    visibility: visible;
    transform: translateX(0);
  }
  .header-navigation__list{
    margin-top: 15px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-navigation__list-item + .header-navigation__list-item{
    margin-left: 0;
    border-top: 1px solid #CBCBCB;
  }
  .header-navigation__list-item{
    width: 100%;
    padding: 12px;
  }
  .slider{
    position: relative;
    padding-bottom: 66px;
  }
  .slider-btns{
    position: absolute;
    left: 24px;
    bottom: 0;
  }
  .product-popup{
    width: 95%;
  }
  .menu-close{
    display: block;
  }
}
@media (max-width: 576px) {
  .product-info__box-price span,
  .product-popup__box .title{
    font-size: 24px;
    line-height: 48px;
  }
  .product-info__box-nav,
  .product-info__box-text{
    margin-top: 24px;
  }
  .popup-close {
    top: 10px;
    right: 10px;
  }
  .product-popup{
    padding: 16px 12px 36px;
  }
  .slider-nav__box{
    width: 320px;
  }
  .main__box{
    padding: 123px 0 48px;
  }
  .main__box-title{
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -1.3px;
  }
  .services__list{
    max-width: 291px;
  }
  .services-item:nth-of-type(n + 2){
    margin-top: 24px;
  }
  .services-item__box{
    padding: 16px 12px 8px 12px;
  }
  .slider .vouchers-item:nth-child(n + 2){
    margin-top: 0;
  }
  .vouchers-item:nth-child(n + 2){
    margin-top: 24px;
  }
  .footer-logo{
    display: block;
    width: 100%;
    max-width: 316px;
  }
  .footer-logo img{
    display: block;
    width: 100%;
  }
  .footer-contact__list{
    flex-direction: column;
  }
  .footer-navigation,
  .footer-contact{
    margin-top: 32px;
  }
  .footer-contact__list-item + .footer-contact__list-item{
    margin-left: 0;
    margin-top: 24px;
  }
  .footer-navigation__list{
    flex-direction: column;
  }
  .footer-navigation__list-item + .footer-navigation__list-item{
    margin-left: 0;
    margin-top: 24px;
  }

}
@media (max-width: 355px) {
  .slider-nav__box{
      width: 100%!important;
  }
  .product-info__box-nav{
    display: inline-flex;
    flex-direction: column;
  }
  .product-info__box-nav .btn:not(.btn-invert){
    margin-top: 12px;
  }
}




