@import "vars";
@import "libs";
@import "fonts";

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

button {
  padding: 0;
  background: transparent;
  border: none;
}

/*-----------------------------------------------------bootstrap-start-----------------------------------------------------*/
.container-fluid {
  max-width: 1188px;
  padding-right: 24px;
  padding-left: 24px;
}

.row {
  margin-top: 0;
  margin-right: -12px;
  margin-left: -12px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 12px;
  padding-left: 12px;
}

/*-----------------------------------------------------bootstrap-end-----------------------------------------------------*/
body {
  font-family: 'San Francisco Pro', sans-serif;
  background: #E7E7E7;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #0A2540;
  position: relative;
}
body.menu-open,
body.modal-product-open,
body.modal-open{
  overflow: hidden;
}
.header {
  padding: 20px 0;
}

.header .container-fluid {
  max-width: 1450px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  display: block;
  width: 100%;
}

.header-navigation__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-navigation__list-item + .header-navigation__list-item {
  margin-left: 35px;
}

.header-navigation__list-item a {
  letter-spacing: -0.2px;
  color: #0A2540;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #004CE0;
  text-decoration: none;
  padding: 7px 14px 7px 12px;
  border-radius: 30px;
}
.btn-invert,
.btn:hover{
  background: #004CE0;
  border: 1px solid rgba(255, 255, 255, 0.05);
  text-decoration: none;
  padding: 7px 14px 7px 12px;
}
.btn.btn-invert span,
.btn:hover span{
  color: #FFFFFF;
}
.btn span {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #004CE0;
  margin-right: 8px;
}

.btn svg {
  display: block;
  width: 7px;
  height: 10px;
  stroke: #004CE0;
}
.btn.btn-invert svg,
.btn:hover svg{
  stroke: #FFFFFF;
}
.main {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__box {
  max-width: 914px;
  padding: 254px 0 203px;
}

.main__box-title {
  font-weight: 800;
  font-size: 119px;
  line-height: 120px;
  letter-spacing: -3.8px;
  color: #FFFFFF;
}

.main__box-text {
  max-width: 481px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 30px;
}
.main .btn{
  margin-top: 30px;
}
.title{
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #0A2540;
  text-align: center;
}
.title.left{
  text-align: left;
}
section{
  margin-top: 134px;
}
.services{
  padding: 48px 0 58px;
}
.services__list{
  margin-top: 36px;
}
.services-item__box{
  height: 100%;
  padding: 16px 12px 24px;
  background: #F3F3F3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.services-item__box-images{
  width: 58px;
  height: 58px;
  margin: 0 auto;
}
.services-item__box-images img{
  display: block;
  width: 100%;
}
.services-item__box-text{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #425466;
  margin-top: 10px;
}
.reviews__list{
  margin-top: 36px;
}
.reviews-item:nth-child(n + 3){
  margin-top: 24px;
}
.reviews-item__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F3F3F3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 40px 24px 16px;
  position: relative;
}
.reviews-item__box:after{
  content: url("../img/reviews-icon.svg");
  width: 23px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
}
.reviews-item__box-text{
  letter-spacing: -0.2px;
}
.reviews-item__reviewer{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 24px auto 0 ;
}
.reviews-item__reviewer-info{
  margin-left: 16px;
  color: #0A2540;
  letter-spacing: -0.2px;
  line-height: 20px;
  font-size: 16px;
}
.reviews-item__reviewer-name{
  font-weight: 600;
}
.reviews-item__reviewer-tour{
  margin-top: 8px;
  font-weight: normal;
}
.footer{
  margin-top: 134px;
  padding: 40px 0;
  background: #0A2540;
}
.footer__box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contact{
  margin-top: 24px;
}
.footer-contact__list{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.footer-contact__list-item + .footer-contact__list-item{
  margin-left: 24px;
}
.footer-contact__list-item{
  padding-left: 28px;
  position: relative;
}
.footer-contact__list-item a{
  letter-spacing: -0.2px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-contact__list-item.mail:before,
.footer-contact__list-item.phone:before{
  content: url("../img/footer-phone.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer-contact__list-item.mail:before{
  content: url("../img/footer-mail.svg");
}
.footer-navigation{
  margin-top: 24px;
}
.footer-navigation__list{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.footer-navigation__list-item + .footer-navigation__list-item{
  margin-left: 24px;
}
.footer-navigation__list-item a{
  letter-spacing: -0.2px;
  color: #FFFFFF;
  text-decoration: none;
}
.vouchers__list{
  margin-top: 36px;
}
.vouchers-item:nth-child(n + 5){
  margin-top: 24px;
}
.vouchers-item__box{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #F3F3F3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.vouchers-item__box-images{
  position: relative;
  padding-top: 75%;
  border-radius: 12px 12px 0 0;
}
.vouchers-item__box-images img{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0 ;
  border-radius: 12px 12px 0 0;
}
.vouchers-item__box-description{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px 12px;
}
.vouchers-item__description-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vouchers-item__info-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #004CE0;
}
.vouchers-item__info-price{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #001E2A;
}
.vouchers-item__description-tags{
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  margin-left: -3px;
  margin-right: -3px;
}
.vouchers-item__tags-item{
  height: 33px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: rgba(66, 84, 102, 0.1);
  border-radius: 50px;
  padding: 8.5px 12px 8.5px 4px;
  margin-top: 8px;
  margin-left: 3px;
  margin-right: 3px;
}
.vouchers-item__tags-item img{
  display: block;
  width: 16px;
  height: 16px;
}
.vouchers-item__tags-item span{
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.2px;
  color: #0A2540;
  margin-left: 8px;
}
.vouchers-item .btn{
  margin-top: 8px;
  border: none;
}
.vouchers-item .btn:hover{
  background: transparent;
}
.vouchers-item .btn:hover span{
  color: #004CE0;
}
.vouchers-item .btn:hover svg{
  stroke: #004CE0;
}
.vouchers .btn.btn-invert{
  display: flex;
  width: 100%;
  max-width: 200px;
  margin:  24px auto 0;
}
.slider{
  overflow: hidden;
}
.slider .slick-list{
  margin: 0 -12px;
}
.slider-navigation{
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-btns{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.slider-btn{
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #001E2A;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}
.slider-btn svg{
  display: block;
  width: 7px;
  height: 10px;
  stroke: #001E2A;
}
.slider-btn--next{
  margin-left: 16px;
}
.slider-tabs{
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider-tabs::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slider-tabs__box{
  display: flex;
  flex-flow: row nowrap;
}
.slider-box{
  margin-top: 24px;
}
.slider-tabs__box-item{
  min-width: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #425466;
  padding-bottom: 4px;
  border-bottom: 1px solid #425466;
}
.slider-tabs__box-item:hover{
  cursor: pointer;
}
.slider-tabs__box-item.active{
  color: #004CE0;
  border-bottom: 2px solid #004CE0;
}
.slider .vouchers-item{
  margin-top: 0 !important;
}
.slider .vouchers-item:nth-child(n+5){
  margin-top: 0;
}
.slider .vouchers-item{
  margin: 0 12px;
}
.slider .slick-list{
  overflow: visible;
}
.slider-btn:hover{
  cursor: pointer;
}
.slider-btn.slick-disabled{
  background: #001E2A;
  z-index: -1;
}
.slider-btn.slick-disabled svg{
  stroke: #E7E7E7;
}
.product-popup,
.consultation-popup{
  width: 100%;
  max-width: 403px;
  margin: 50px auto;
  position: relative;
  background: #E7E7E7;
  border-radius: 24px;
  padding: 32px 24px 48px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s opacity linear, 0.3s visibility linear ;
  z-index: 999;
}
.product-popup{
  padding: 32px 36px 16px;
  overflow: hidden;
  max-width: 1366px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.product-popup.open,
.consultation-popup.open{
  opacity: 1;
  visibility: visible;
}
.popup-close{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 18px;
  z-index: 999;
}
.popup-close img{
  display: block;
  width: 100%;
}
.consultation-form__box-title{
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #0A2540;
}
.consultation-form__box-text{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #425466;
  margin-top: 4px;
}
.consultation-form__box-list{
  margin-top: 24px;
}
.consultation-form__list-item + .consultation-form__list-item{
  margin-top: 16px;
}
.consultation-form__list-item label{
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #425466;
}
.consultation-form__list-item input{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 4px;
  padding: 12px;
}
.consultation-form .btn-invert{
  margin-top: 16px;
}
.popup-close:hover{
  cursor: pointer;
}
.header-burger{
  display: none;
  width: 24px;
  height: 24px;
}
.header-burger img{
  display: block;
  width: 100%;
}
.smartphone{
  display: none;
}
.modal-product-open #modal-product,
.modal-open #modal{
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
}
#modal-product,
#modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.popup-slider{
  width: calc(54.6% - 12px);
  margin-right: 12px;
}
.slider-nav__box-item img{
  display: block;
  width: 100%;
}
.product-popup__box{
  display: flex;
  flex-flow: row nowrap;
}
.product-info{
  width: calc(45.4% - 12px);
  margin-left: 12px;
  padding-right: 64px;
}
.product-info__box-price{
  display: flex;
  justify-content: space-between;
}
.product-info__box-price span{
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.2px;
}
.product-info__box .vouchers-item__description-tags{
  margin-top: 16px;
}
.product-info__box-text{
  max-width: 398px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #425466;
  margin-top: 32px;
}
.product-info__box-nav{
  margin-top: 48px;
}
.product-info__box-nav .btn-invert{
  margin-right: 24px;
}
.slider-nav{
  margin-top: 10px;
}
.slider-nav__box{
  width: 436px;
  margin: 0 auto;
}
.slider-nav__box .slick-list{
  margin: 0 -6px;
}

.slider-nav__box-item{
  width: 25%!important;
  padding: 0 6px;
  height: 75px !important;
}
.slider-for__box-item img{
  display: block;
  width: 100%;
}
.slider-nav__box-item img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-nav__box-item:hover{
  cursor: pointer;
}
.menu-close{
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
}
.menu-close img{
  width: 100%;
  height: 100%;
}
.menu-close{
  display: none;
}
@import "media";
